.container {
    width: 350px;
    height: 500px;
    margin-left: 40%;
    border-left: green solid 10px;
    border-right: green solid 10px;
}

#bt1,
#bt2,
#bt3,
#bt4,
#bt4,
#bt5,
#bt6,
#bt7,
#bt8,
#bt9,
#bt10 {
    background: yellow;
}

.path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate forwards;
    animation-play-state: paused;
}

.path2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate forwards;
    animation-play-state: paused;
}

.path4 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate forwards;
    animation-play-state: paused;
}

.path6 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate forwards;
    animation-play-state: paused;
}

.path8 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate forwards;
    animation-play-state: paused;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}