
@media screen and (min-width: 1224px) {
  body {
     width:420px;
  }
}



.array{
  display: flex;
  height: 20%;
  margin-left: 10%;
  margin-top:4%;
}

#b1 
{

  background-color: yellow;
  color: blue;
}
#b1:hover {
  background-color: lighten(yellow, 30%);
  cursor: pointer;
  cursor: hand;
}

#b2 
{
  background-color: yellow;
  color: blue;
}

#b2:hover {
  background-color: lighten(orange, 10%);
  cursor: pointer;
  cursor: hand;
}

#b3 
{
   background-color: yellow;
   color: blue;
}

#b3:hover {
  background-color: lighten(orange, 10%);
  cursor: pointer;
  cursor: hand;
}

#b4 
{
   background-color: yellow;
   color: blue;
}

#b4:hover {
  background-color: lighten(orange, 10%);
  cursor: pointer;
  cursor: hand;
}

#b5
{
  background-color: yellow;
 color: blue;
}

#b5:hover {
  background-color: lighten(orange, 10%);
  cursor: pointer;
  cursor: hand;
}


.c1{
  display: flex;
}
.start{
  margin-top: 20%;
}


.vl {
    border-left: 3px solid green;
    height: 500px;
    margin-left: 194%;
    
    
    
    
  }
  .v2{
    border-left: 3px solid green;
    height: 500px;
        
    flex: 33.3%;
    
     margin-left: 40%;
    
    
  }
  .v4{
    border-left: 3px solid rgb(128, 41, 0);
    height: 235px;
    margin-left: 20%;
     margin-top: 1%; 
     transform: rotate(135deg); 

  }
  .v5{
    border-left: 3px solid rgb(245, 230, 23);
    height: 235px;
    
     margin-top: 41%; 
     transform: rotate(-134deg); 
  }
 
  
     #myAnimation {
            width: 25px;
            height: 25px;
            position: absolute;
            background-color: red;
            border-radius: 2%;
            border: 1%;
            
            
          }

          #myAnimation1 {
            width: 25px;
            height: 25px;
            position: absolute;
            background-color: yellow;
            border-radius: 2%;
            border: 1%;
            
            
          }
          
        #container {
          width: 200px;
          height: 500px;
          position: relative;
          background: yellow;
          margin-left: 150%; 
          border-left: green solid 9px;
          border-right: green solid 9px;
          
        }
        #animate {
          width: 50px;
          height: 50px;
          position: absolute;
          background-color: red;
        }
        
        